# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment
.env
.env.local
.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json

# Certificates
*.pem

#Claude 
.claude
.env*
